<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout.html">
<head>
	<title>エラー画面</title>
</head>
<body>
<div layout:fragment="contents">
システムエラーが発生しました。
<div class="ErrorsProperty" th:each="e : ${#sa.allMessages()}" th:text="${e}">xxx</div>
<pre th:text="${causeException}" th:if="${T(org.doxer.xbase.util._Env).isDev()}">
例外オブジェクトの内容
</pre>
</div>
</body>
</html>