<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout">
<head>
	<!--/*/ <th:block th:remove="all"> /*/-->
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../../../webcontents/share/css/init.css" />
	<script src="/webcontents/share/js/jquery.js" ></script>
	<!--/*/ </th:block> /*/-->
	<title>Getting Started: Serving Web Content</title>
</head>
<body>
<div layout:fragment="contents">
	<div class="ErrorsProperty" th:each="e : ${#sa.globalMessages()}" th:text="${e}">xxx</div>
	<p th:text="'Hello, ' + ${form.val} + '!'" />
	<form action="/doxer/sample/hello/input" method="POST">
		<input type="text" name="val" th:value="${form.val}" /> <input
			type="submit" name="send" />
		<div class="ErrorsProperty" th:each="e : ${#sa.messagesOf('val')}" th:text="${e}">xxx</div>
		<input type="hidden"
				th:name="${T(org.doxer.xbase.util.TokenProcessor).TOKEN_KEY}"
				th:value="${#httpSession.getAttribute(T(org.doxer.xbase.util.TokenProcessor).TRANSACTION_TOKEN_KEY)}" /><br />
	</form>
	<a href="/doxer/sample/lang/lang?lang=ja">日本語</a><br />
	<a href="/doxer/sample/lang/lang?lang=en">English</a><br />
	<table>
		<tr><th>ID</th><th>名前</th></tr>
		<tr th:each="ret : ${form.results}"><td th:text="${ret.tcmSampleId}">1</td><td th:text="${ret.sampleName}">テストA</td></tr>
	</table><br />
<!-- 	<div th:include="/common/fragment/fragments :: pageLink(${page},'search',${false})">ページング</div> -->
</div>
</body>
</html>