<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="ErrorsProperty" th:each="e : ${#sa.errors('val')}" th:text="${e}">xxx</div>
	<p th:text="'Hello, ' + ${form.val} + '!'" />
	<form action="/doxer/sample/hello/input">
		<input type="text" name="val" th:value="${form.val}" /> <input
			type="submit" name="send" />
	</form>
	<table>
		<tr><th>ID</th><th>名前</th></tr>
		<tr th:each="ret : ${form.results}"><td th:text="${ret.tcmSampleId}">1</td><td th:text="${ret.sampleName}">テストA</td></tr>
	</table>
</body>
</html>